*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.container{
    width: 400px;
    height: 500px;
    background-color: #415262;
    border-radius: 15px;
}

.number_button, .function_button{
    width: 80px;
    height: 80px;
}

#display{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 100px;
    margin: 20px auto 20px auto ;
    background-color: aliceblue;
    border: 1px solid green;
    font-family: 'Poppins', sans-serif;
    color: green;
    font-size: 40px;
}

.all_button{
    margin: 0 auto;
    text-align: center;
}

.btn{
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 50px;
    font-family: 'Poppins';
    font-style: bold;
}

.btn:nth-child(4n){
    margin-right: 0;
}
